@import "tailwindcss";
@plugin "@tailwindcss/typography";


@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs";
@plugin "./daisyui-theme.mjs" {
  name: "lunar";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(20% 0.042 265.755);
  --color-base-200: oklch(27% 0.041 260.031);
  --color-base-300: oklch(37% 0.044 257.287);
  --color-base-content: oklch(86% 0.127 207.078);
  --color-primary: oklch(75.351% 0.138 232.661);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: oklch(42% 0.199 265.638);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(12% 0.042 264.695);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(85.589% 0.007 260.03);
  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(78.452% 0.132 181.911);
  --color-success-content: oklch(15.69% 0.026 181.911);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@plugin "./daisyui-theme.mjs" {
  name: "solar";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(91% 0.05 250);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(37% 0.146 265.522);
  --color-primary: oklch(75.351% 0.138 232.661);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(42% 0.199 265.638);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(85.589% 0.007 260.03);
  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(78.452% 0.132 181.911);
  --color-success-content: oklch(15.69% 0.026 181.911);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}