{% load static %}
<!doctype html>
<html lang="en" data-theme="lunar">
<head>
    <link href="{% static "css/output.css" %}" rel="stylesheet" type="text/css"/>

    <script src="https://kit.fontawesome.com/f23e4a7e43.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="
          width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0
           ">
    <title> {% block title %} Tempest {% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% block extra_head_element %} {% endblock %}
</head>
<body class="min-h-screen grid grid-rows-[auto_1fr_auto]">

<div class="drawer lg:drawer-open">

    <input id="my-drawer" type="checkbox" class="drawer-toggle"/>

    <div class="drawer-content">
        <!-- Navbar -->
        <nav class="navbar w-full bg-base-200">
            <label for="my-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
                <!-- Sidebar toggle icon -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round"
                     stroke-linecap="round" stroke-width="2" stroke="currentColor"
                     class="my-1.5 inline-block size-4">
                    <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                    <path d="M9 4v16"></path>
                    <path d="M14 10l2 2l-2 2"></path>
                </svg>
            </label>
            <div class="px-4">
                <h1 class="text-xl font-bold">
                    {% block navbar_title %}Navbar Title{% endblock %}
                </h1>
            </div>
        </nav>
        <div class="p-4">
            {% block page_content %}Page Content{% endblock %}
        </div>
    </div>

    <div class="drawer-side is-drawer-close:overflow-visible">

        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>

        <div class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-14 is-drawer-open:w-64">

            <!-- Sidebar content goes here -->
            <!-- TODO Menu with icons and badge (responsive) -->
            <ul class="menu w-full grow gap-2 py-4">

                <!-- Sidebar item -->
                <li>
                    <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Homepage">
                        <i class="fa-regular fa-house "></i>
                        <span class="is-drawer-close:hidden">
                            Homepage
                        </span>
                    </button>
                </li>

                <!-- Sidebar item -->
                <li>
                    <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Settings">
                        <i class="fa-solid fa-gear"></i>
                        <span class="is-drawer-close:hidden">
                            Settings
                        </span>
                    </button>
                </li>

            </ul>

        </div>

    </div>

</div>

<script src="{% static 'js/main.js' %}"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>

<!-- .drawer // The root container
  ├── .drawer-toggle // A hidden checkbox to toggle the visibility of the sidebar
  ├── .drawer-content // All your page content goes here
  │    ╰── // navbar, content, footer
  │
  ╰── .drawer-side // Sidebar wrapper
       ├── .drawer-overlay // A dark overlay that covers the whole page when the drawer is open
       ╰── // Sidebar content (menu or anything)
-->
<!-- Drawer sidebar is hidden by default.
You can make it visible on larger screens using lg:drawer-open class (or using other responsive prefixes: sm, md, lg, xl)

You can check/uncheck the checkbox using JavaScript or by clicking the label tag which is assigned to the hidden checkbox
-->